

.page-header {
	width: 960px;
	margin-left: auto;
  margin-right: auto;
}

.midHdr {
	font-family: AvenirNext-Demibold;
	padding-top: 50px;

  font-size: 28px;
  color: #02e4ff;

}

.pull-right {
	float: right;
	font-size: 14px;
	color: #999A9B;
	padding-top: 5px;

}

.pull-left {
	float: left;
}

.details {
	height: 370px;
}

.middle {
	font-size: 38px;
	padding: 50px 0 75px;
	height: 370px;
}

.primary, .cloud, .footer, .midHdr, .inputForm, .middle {
	text-align: center;
}


.footer {
	height: 90px;
	font-size: 14px;
	padding-top:200px;

}

.csp {
 padding-top: 200px;
 font-size: 14px;
 float:right;
}

.details .csp {
	padding-top: 75px;
}

.primary {
	font-size:24px;
	margin: 50 0 50px;
}

.secondary {
	font-size:14px;
}

/*!  classes in test
.instructSet {
	font-size: 20px;
}



*/
.inputCloudName, .pwdInputForm
{
	margin-top: 50px;
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	-khtml-border-radius: 5px; /* KHTML */
	border-radius: 5px; /* CSS3 */
	behavior:url("border-radius.htc");
	height: 50px;
	width: 400px;
	font-family: Avenir Next;
	font-size: 24px;
	color: #b6b6b6;
	text-align: center;
}

.pwdInputForm {
	margin-top: 15px;
	text-align: center;
}

.inputFields
{
	margin-top: 30px;
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	-khtml-border-radius: 5px; /* KHTML */
	border-radius: 5px; /* CSS3 */
	behavior:url("border-radius.htc");
	height: 50px;
	width: 400px;
	font-size: 24px;
	color: #b6b6b6;
	text-align: center;
	font-family: Avenir Next;
}

.button {
	width: 150px;
	background-color:#02e4ff;
	color: #fff;
	-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 7px 0;
  border: 0px;
  font: bold 12px "AvenirNext", helvetica, arial, sans-serif;
	height: 40px;
}



