<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title></title>
<meta name="description" content="HTML 5 CSS 3 Spring Form" />

<meta name="viewport" content="width=device-width,initial-scale=1" />

<link rel="stylesheet" href="../../css/style.css"
	th:href="@{/css/style.css}" />
<script src="../../js/libs/modernizr-2.0.6.min.js"
	th:src="@{/js/libs/modernizr-2.0.6.min.js}"></script>
</head>

<body>
	<div id="container">
		<div id="fullpage">


			<h2>Your Account Information</h2>
		    <p>
			    <span style="color: red;" th:text="${error}">System Error</span>
			</p>

	        <table>
				<tr>
					<td>CloudName:</td>
					<td><span th:text="${accountInfo.cloudName}">=you</span></td>
				</tr>
			</table>

			<footer> </footer>
		</div>
	</div>
	<!--! end of #container -->


	<script>
		/*<![CDATA[*/
		      //Embbeded Javascript    
		/*]]>*/
	</script>

</body>
</html>
