<!DOCTYPE html>
<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]>      <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns:th="http://www.thymeleaf.org" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>CSP Welcome Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- CSS -->   
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap-responsive.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/default_test.css" />
		<link rel="stylesheet" type="text/css" href="css/component_test.css" />
    <link href="css/stylesheet.css" rel="stylesheet" />
		<link href="css/cloudstyle.css" rel="stylesheet" />
		<link href="https://s3.amazonaws.com/rnfonts/demo.css" rel="stylesheet" type="text/css" />
		<link href="css/csp_styles.css" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../../js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png" />
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png" />
                    <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png" />
                                   <link rel="shortcut icon" href="img/ico/favicon.png" />
<script>     
     function goToRNlandingPage()
	 {

		query = document.getElementById('queryStr').value;
		url = document.getElementById('postURL').value ;	
		urlAndQs = "?" + query;
		
		window.open(url+urlAndQs,"_self");
	 }
</script>
 <script src="js/libs/misc.js"> </script> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>	                                  
<script src="js/libs/bootstrap-dropdown.js"></script>                                
</head>
<body>

<!-- Part 1: Wrap all page content here -->
<div id="wrap">

      <!-- Fixed navbar -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
      <div class="row-fluid">  
        <div class="span4 smallTop">
        	<p class="cspHeader"><img src="img/csp_logo.png" /></p>
        </div>
        <div class="span4"></div>
        <div class="span4 equation">
             <ul class="nav">
                 <a  href="#" class="dropdown-toggle" data-toggle="dropdown"><span th:text="${cloudName}"/> &nbsp;<b class="caret"></b> &nbsp;</a>
                <ul class="dropdown-menu">
                  <li><a th:href="@{/changePassword}">Change Password</a></li>
                  <li><a th:href="@{/logout}">Logout</a></li>
              </ul>
          <form method="get" action="#" th:action="@{/changePassword}">
          	  <input type="hidden" id="name" name="name" th:value="${cloudName}" />
<!--              <button id="full" type="submit" class="button big">Change Password</button>-->
          </form>

            </ul> 
        </div>
      </div>
			</div>
  	</div>
	</div>

      <!-- Begin page content -->
	  <div id="content-wrapper">  			
    <div class="container-fluid">
      <div class="row-fluid">
      <div class="span1"></div>
        <div class="span7">
          <div class="hero-unit">
            <h1>Welcome to the future of personal data</h1>
            <br />         
            <img src="img/main_pic.png" />          
          </div>
          <div class="row-fluid">
            <div class="span12">
				<div id="cbp-qtrotator" class="cbp-qtrotator">
<!--			<div class="cbp-qtcontent">
						<img src="img/RespectNetwork_Logo_V_RGB.png" width="100" height="100" alt="Respect Network" />
						<blockquote>
						  <p>The personal cloud is the consumer-centric alternative that gives people power over their content,
						  and I predict 2014 to be the year the consumer voice changes from a murmur to a loud chorus.</p>
						  <footer>Eric Caso</footer>
						</blockquote>
					</div>
-->
					<div class="cbp-qtcontent">
						<img src="img/RespectNetwork_Logo_V_RGB.png" width="100" height="100" alt="Respect Network" />
						<blockquote>
						  <p>Drummond Reed, CEO, Respect Network, on what is a personal cloud?  <a href="https://vimeo.com/respectnetwork/whatisapersonalcloud"> Watch the video</a></p>
						</blockquote>
					</div>
<!--			<div class="cbp-qtcontent">
						<img src="img/RespectNetwork_Logo_V_RGB.png" width="100" height="100" alt="Respect Network" />
						<blockquote>
						  <p>
						  lorem ipsum delorem.</p>
						  <footer></footer>
						</blockquote>
					</div>
					<div class="cbp-qtcontent">
						<img src="img/RespectNetwork_Logo_V_RGB.png" width="100" height="100" alt="Respect Network" />
						<blockquote>
						  <p>lorem ipsum delorem.</p>
						  <footer></footer>
						</blockquote>
					</div>
-->				


    	</div>
            </div><!--/span-->
           
          </div><!--/row-->
        </div><!--/span-->
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
            	<li>
            		<input type="hidden" id="queryStr" name="queryStr" th:value="${queryStr}" />         	  
  			  			<input type="hidden" id="postURL" name="postURL" th:value="${postURL}" />
								<button type="submit" id="goToRN" class="link" onclick="goToRNlandingPage();">Invite your friends</button>
	  					</li>              
	  					<br />
              <li>
          			<form method="get" action="#" th:action="@{/invite}">
          	  	<input type="hidden" id="name" name="name" th:value="${cloudName}" />
              	<button id="full" type="submit" class="link">Purchase gift cards</button>
          			</form>
              </li>
              <br />
              <li>
                <form method="get" action="#" th:action="@{/dependent}">
          	    <input type="hidden" id="name" name="name" th:value="${cloudName}" />
                <button id="full" type="submit" class="link">Add dependent clouds</button>
                </form>
              </li>
              <hr></hr>
              <!--<li class="nav-header"></li>-->
              <p>Want to use one cloud name for business and another cloud name for personal activities? 
              Secure up to 5 additional cloud names during our First Million Member campaign.</p>
              <li>
              	<form method="get" action="#" th:action="@{/additionalCloud}">
              	<input type="hidden" id="name" name="name" th:value="${cloudName}" />
              	<button id="full" type="submit" class="link">Add cloud names</button>
          			</form>
              </li>
              <p>As part of the First Million Members campaign, you are entitled to a <a href="https://apps.respectnetwork.com/">goodie bag of apps </a> from the Respect Network App Catalog.
              Enjoy!</p>
</ul>         	


         
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <hr></hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div><!--/.fluid-container-->
</div></div>
		<script src="js/libs/jquery.cbpQTRotator.min.js"></script>
		<script>
			$( function() {
				$( '#cbp-qtrotator' ).cbpQTRotator();

			} );
		</script>  
  
<!--  <div class="bodyContainer">
		<div class="middle2"> 
			<div>
					<input type="hidden" id="queryStr" name="queryStr" th:value="${queryStr}" />         	  
  			  		<input type="hidden" id="postURL" name="postURL" th:value="${postURL}" />
					<button type="button" id="goToRN" class="button big" onclick="goToRNlandingPage();">Invite People To Join Respect Network</button>
          </div>
          <br></br>
          <br></br>	
          <form method="get" action="#" th:action="@{/invite}">
          	  <input type="hidden" id="name" name="name" th:value="${cloudName}" />
              <button id="full" type="submit" class="button big">Buy Personal Cloud Gift Cards</button>
          </form>
          <br></br>
          <br></br>
          <form method="get" action="#" th:action="@{/dependent}">
          	  <input type="hidden" id="name" name="name" th:value="${cloudName}" />
              <button id="full" type="submit" class="button big">Buy Clouds For Dependents</button>
          </form>
		   <br></br>
          <br></br>
          <form method="get" action="#" th:action="@{/additionalCloud}">
              <input type="hidden" id="name" name="name" th:value="${cloudName}" />
              <button id="full" type="submit" class="button big">Buy Additional Clouds</button>
          </form>
           <br></br>
          <br></br>

          <form method="get" action="#" th:action="@{/changePassword}">
          	  <input type="hidden" id="name" name="name" th:value="${cloudName}" />
              <button id="full" type="submit" class="button big">Change Password</button>
          </form>

          <div th:if="${licenceKey != null}">
          	<p class="secondary">Your SocialSafe licence key is : &nbsp;<span th:text="${licenceKey}"/></p>
          </div>
		</div>
	</div>	  
-->
    <div id="footer">
      	<!--
  			<div class="help">
  				<div id="help">
  					<a target="_blank" onclick="return windowpop(this.href, 545, 433); " th:href="@{/help}">Help</a>
				</div>
	 		</div>
	 	-->
    </div>


    <!-- javascript ================================================== -->
<script src="js/libs/modernizr-2.0.6.min.js" th:src="@{/js/libs/modernizr-2.0.6.min.js}"></script>
		<script src="js/libs/responsivegridsystem.js" th:src="@{/js/libs/responsivegridsystem.js}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/libs/misc.js"> </script>
 
</body>
</html>
