<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Respect Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
		<link href="css/bootstrap-responsive.css" rel="stylesheet" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<!-- Fav and touch icons -->
<link rel="shortcut icon" href="img/ico/favicon.png" />
</head>

<body>
<!-- Part 1: Wrap all page content here -->
<div id="wrap">
	<!-- Fixed navbar -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
      	<div class="row-fluid">  
        	<div class="span4 smallTop"><img src="img/RespectNetwork_Logo_H_RGB.png" />
        	</div>
        	<div class="span4 midHdr"><span th:text="${cloudName}"/>
        	</div>
        	<div class="span4 bigTop">
         	 <p class="secondary">PRESS | FAQs</p>
        	</div>
      	</div>
			</div>
  </div>
</div>

<!-- Begin page content -->
	<div class="container minusPad">
    <div class="row-fluid"> 
    	<div class="span1"></div> 
      <div class="span6">		
	      <p class="payment3 ">Billing Information</p>                           
          <form id="cc_payment_form" action="#" th:object="${paymentInfo}" th:action="${postURL}" method="post">

		<div th:if="${StripeJavaScript}">
                       <table id="sTable">
	                    <tr>
	                    <td  th:utext="${StripeJavaScript}">
	              			<script               
	              				src="https://checkout.stripe.com/checkout.js"
	                             class="stripe-button"
	                             data-key=""
	                             data-amount="2500"
	                             data-name="One Personal Cloud"
	                             data-description="$25 USD"
	                             data-image="img/cloud.png">
	              			</script>
	            		</td>
	                    </tr>
                       </table>
          </div>      	
		  <div th:if="${SagePay}">
						<input type="text" name="BillingFirstNames"  id="BillingFirstNames" class="inputFields tiny smallMarg" placeholder=" first name" required="required" /> 

	      		&nbsp; 	<input type="text" name="BillingSurname"  id="BillingSurname" class="inputFields med smallMarg" placeholder=" surname" required="required" /> 
 
 						<input type="text" name="BillingAddress1"  id="BillingAddress1" placeholder="address1" class="inputFields smallMarg" required="required" /> 
	        	
 						<input type="text" name="BillingAddress2"  id="BillingAddress2" placeholder="address2" class="inputFields smallMarg"  /> 
	        	<br />
	        	<p></p>
	 					<input type="text" name="BillingCity" id="BillingCity" placeholder=" city" class="inputFields short smallMarg" required="required" /> 
	        	&nbsp; <input type="text" name="BillingState"  id="BillingState" placeholder="st*" class="inputFields mini"  />
 	        	&nbsp; <input type="text" name="BillingPostCode"  id="BillingPostCode" placeholder="postal code" class="inputFields tiny smallMarg"  required="required" /> 
 				&nbsp; <input type="text" name="BillingCountry"  id="BillingCountry" placeholder=" CC" class="inputFields tiny smallMarg"  required="required" />
						
						<p class="smallTop"><button type="submit" name="submit" id="submit" class="button big">Continue</button>
						</p>
	        	
	        </div>
	        <div th:if="${BrainTree}">
                    <div>
        					<p>
          					<label>Card Number</label>
          						<input type="text" size="20" autocomplete="off" data-encrypted-name="number" class="inputFields smallMarg" required="required"/>
        					</p>
        					<p>
          					<label>CVV</label>
          						<input type="text" size="4" autocomplete="off" data-encrypted-name="cvv" class="inputFields dinky" required="required"/>
       	 					</p>
        					<p>
          					<label>Expiration (MM/YYYY)</label>
          						<input type="text" size="2" name="month" class="inputFields dinky"/> / <input type="text" size="4" name="year" class="inputFields dinky" required="required"/>
        					</p>
        					<button type="submit" id="submit"  class="button big"/>
      					
    				</div>
    					<script  src="https://js.braintreegateway.com/v1/braintree.js"></script>
    					<script th:inline="javascript">
    					/*<![CDATA[*/
      						var braintree = Braintree.create([[${BrainTree}]]);
      						braintree.onSubmitEncryptForm('cc_payment_form');
      					/*]]>*/
    					</script>

                    </div>
	        
            <input type="hidden" name="numberOfClouds" value="" id="numberOfClouds"  th:value="*{numberOfClouds}" />                
			<input type="hidden" name="txnType" value="" id="txnType"  th:value="*{txnType}" />	
			<input type="hidden" name="amount" value="" id="amount"  th:value="${amount}" />				
        </form>
    </div>
    <div class="span5"><p class="payment3"></p>
    	<div class="equation">Respect Network 
    		<br />LIFETIME membership
        <br />+<br />LIFETIME Connection 
        <br />Cloud hosting 
     	</div>
     	<div class="equals">$25 USD
			</div>
		</div>
      
	</div>
     <div id="footer">
      	<div class="row-fluid">
    			<div class="span11 cspMain">YOUR CLOUD SERVICE PROVIDER | <img src="img/csp_logo.png" /> &nbsp;
					</div>
				</div>
  			<div class="border">
  				<div id="feedback">
  					<a href="/feedback_url/">Help</a>
					</div>
				</div>
    </div>
</div>

</div>   
</body>
</html>
