<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Respect Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />
		<link href="css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />

<link href="https://s3.amazonaws.com/rnfonts/demo.css" rel="stylesheet" type="text/css" />

    	
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<!-- Fav and touch icons -->
<link rel="shortcut icon" href="img/ico/favicon.png" />

	<!--include jquery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/libs/misc.js"> </script>
	
	<style>
		.paymentBody .row-fluid .span4 {
		text-align: left;
	}

@media (max-width: 450px) {	
	.paymentBody .row-fluid .span4 {
 	 width: 80%;
	}
	.paymentBody {
		padding-top: 25px;
	}
	.paymentBody .row-fluid .span2 {
 	 width: 10%;
	}
	.paymentBody .row-fluid .span5 {
 	 width: 80%;
 	 padding-left: 35px;
	}
	.payment1 {
		font-size: 20px;
	}
}

@media (max-width: 767px) and (min-width: 451px){	
	.paymentBody .row-fluid .span4 {
 	 width: 60%;
 	 margin-top: 0px;
 	 padding-left: 30px;

	}
	.paymentBody {
		padding-top: 5px;
	}
	.paymentBody .row-fluid .span2 {
 	 	width: 0%;
	}
	.paymentBody .row-fluid .span5 {
 	 width: 50%;
 	 padding-left: 35px;
 	 margin-top: 0px;
	}

}
	</style>

</head>

<body>
<!-- Part 1: Wrap all page content here -->
<div id="wrap">
<!-- Fixed navbar -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
      	<div class="row-fluid">  
          <div class="span4 smallTop"><p class="cspHeader right"><img src="img/csp_logo.png" /></p>
          </div>
          <div class="span4 midHdr">
          </div>
          <div class="span4">
         		         		
     		</div>
      	</div>
	  	</div>
		</div>  
	</div>

<!-- Begin page content -->
	<div class="paymentBody">
    <form id="cc_payment_form" action="#" th:object="${paymentInfo}" th:action="${postURL}" method="post">


    <div>
    <div class="span1"></div>
    <div class="span6">
    <p class="payment3 ">Billing Information</p>

    <div class="middle1 smallMarg left">
    <div th:if="${StripeJavaScript}">
      <table id="sTable">
        <tr><td  th:utext="${StripeJavaScript}">
          <script src="https://checkout.stripe.com/checkout.js"
              class="stripe-button"
            	data-key=""
              data-amount="2500"
              data-name="One Personal Cloud"
              data-description="$25 USD"
              data-image="img/cloud.png">
          </script>
        </td></tr>
    	</table>
    </div>
    <div th:if="${paymentInfo.giftCodesOnly == false}">
    <div th:if="${SagePay}">
        <input type="text" name="BillingFirstNames" id="BillingFirstNames" class="inputFields tiny smallMarg"
               placeholder=" first name" onFocus="clearText(this)"
               onBlur="clearText(this.className = 'onblurtext med smallMarg')" required="required"/>

        &nbsp;<input type="text" name="BillingSurname" id="BillingSurname" class="inputFields med smallMarg"
                     placeholder=" surname" onFocus="clearText(this)"
                     onBlur="clearText(this.className = 'onblurtext med smallMarg')" required="required"/>

        <input type="text" name="BillingAddress1" id="BillingAddress1" placeholder="address1"
               class="inputFields smallMarg" onFocus="clearText(this)"
               onBlur="clearText(this.className = 'onblurtext med smallMarg')" required="required"/>

        <input type="text" name="BillingAddress2" id="BillingAddress2" placeholder="address2"
               class="inputFields smallMarg" onFocus="clearText(this)"
               onBlur="clearText(this.className = 'onblurtext med smallMarg')"/>
        
        <input type="text" name="BillingCity" id="BillingCity" placeholder=" city" class="inputFields short smallMarg"
               onFocus="clearText(this)" onBlur="clearText(this.className = 'onblurtext med smallMarg')"
               required="required"/>
        &nbsp;<input type="text" name="BillingState" id="BillingState" placeholder="st*" class="inputFields mini"
                     onFocus="clearText(this)" onBlur="clearText(this.className = 'onblurtext med smallMarg')"/>
        &nbsp;<input type="text" name="BillingPostCode" id="BillingPostCode" placeholder="postal code"
                     class="inputFields tiny smallMarg" onFocus="clearText(this)"        
                     onBlur="clearText(this.className = 'onblurtext med smallMarg')" required="required"/>
        <br/>
        <input type="text" name="BillingCountry" id="BillingCountry" 
                      class="inputFields mini" placeholder="CC*" onFocus="clearText(this)"
                      onBlur="clearText(this.className = 'onblurtext med smallMarg')" required="required"/>
		<br/>
            <button type="submit" name="submit" id="submit" class="button big">Continue</button>
        

    </div>
    <div th:if="${BrainTree}">
        <input type="text" size="20" autocomplete="off" data-encrypted-name="number"
               placeholder="credit card number" class="inputFields smallMarg" required="required"/>
        <br/>
        <input type="text" size="4" autocomplete="off" data-encrypted-name="cvv" placeholder="cvv"
               class="inputFields dinky" required="required"/>
        <input type="text" size="2" name="month" placeholder="mm" class="inputFields date"
               required="required"/>
        <input type="text" size="4" name="year" placeholder="yyyy" class="inputFields date"
               required="required"/>

        <!--<button type="submit" id="submit" class="button big">Process Payment</button>-->
		<div class="row-fluid">
        <div class="span1"></div>
        <div class="span6">
            <button type="submit" name="submit" id="submit" class="button big">Continue</button>
        </div>
        <div class="span5"></div>
    	</div>
        <script src="https://js.braintreegateway.com/v1/braintree.js"></script>
        <script th:inline="javascript">
                     /*<![CDATA[*/
                         var braintree = Braintree.create([[${BrainTree}]]);
                         braintree.onSubmitEncryptForm('cc_payment_form');
                     /*]]>*/


        </script>

    </div>
    <div th:if="${PinNetAu}">
        <script src="https://cdn.pin.net.au/pin.v2.js"></script>

        <div class="errors" style="font-size: 14pt; color: #dd6666;">
            <h3></h3>
            <ul style="text-align: left;"></ul>
        </div>

        <div>
                <br/>
          <p class="payment3 ">Credit Card Details </p>
            <input type="text" size="20" autocomplete="off" id='cc-number'
                   placeholder="credit card number" class="inputFields smallMarg" required="required"/>
            <br/>
            <input type="text" size="20" autocomplete="off" id='cc-name'
                   placeholder="name on card" class="inputFields smallMarg" required="required"/>
            <br/>
            <input type="text" size="4" autocomplete="off" id="cvv" placeholder="cvv"
                   class="inputFields dinky" required="required"/>
            <input type="text" size="2" id="month" placeholder="mm" class="inputFields date"
                   required="required"/>
            <input type="text" size="4" id="year" placeholder="yyyy" class="inputFields date"
                   required="required"/>

            <div>
                <br/>
                <p class="payment3 ">Card Billing Address</p>

                <input type="text" size="20" autocomplete="off" id="address-line1"
                       placeholder="address line 1" class="inputFields smallMarg" required="required"/>
                <br/>
                <input type="text" size="20" autocomplete="off" id="address-line2"
                       placeholder="address line 2" class="inputFields smallMarg"/>
                <br/>
                <input type="text" size="20" autocomplete="off" id="address-city"
                       placeholder="city" class="inputFields smallMarg" required="required"/>
                <br/>
                <input type="text" size="5" id="address-state" placeholder="state" class="inputFields date"
                       required="required"/>
                <input type="text" size="4" id="address-postcode" placeholder="postcode" class="inputFields date"
                       required="required"/>
                <br/>
                <input type="text" size="20" autocomplete="off" id="address-country"
                       placeholder="country" class="inputFields smallMarg" required="required"/>
            </div>
        </div>

        <script th:inline="javascript">
                /*<![CDATA[*/
                // 1. Wait for the page to load
                $(function() {

                    // 2. Create an API object with your publishable api key, and
                    // specifying 'test' or 'live'.
                    //
                    // Be sure to use your live publishable key with the live api, and
                    // your test publishable key with the test api.
                    var publishableKey = /*[[${publishableKey}]]*/ 'your publishable key';
                    var environment = /*[[${environment}]]*/ 'test';
                    var pinApi = new Pin.Api(publishableKey, environment);

                    var form = $('form#cc_payment_form'),
                    submitButton = form.find(":submit"),
                    errorContainer = form.find('.errors'),
                    errorList = errorContainer.find('ul'),
                    errorHeading = errorContainer.find('h3');

                    // 3. Add a submit handler to the form which calls Pin.js to
                    // retrieve a card token, and then add that token to the form and
                    // submit the form to your server.
                    form.submit(function(e) {
                        e.preventDefault();

                        // Clear previous errors
                        errorList.empty();
                        errorHeading.empty();
                        errorContainer.hide();

                        // Disable the submit button to prevent multiple clicks
                        submitButton.attr({disabled: true});

                        // Fetch details required for the createToken call to Pin Payments
                        var card = {
                            number:           $('#cc-number').val(),
                            name:             $('#cc-name').val(),
                            expiry_month:     $('#month').val(),
                            expiry_year:      $('#year').val(),
                            cvc:              $('#cvv').val(),
                            address_line1:    $('#address-line1').val(),
                            address_line2:    $('#address-line2').val(),
                            address_city:     $('#address-city').val(),
                            address_state:    $('#address-state').val(),
                            address_postcode: $('#address-postcode').val(),
                            address_country:  $('#address-country').val()
                        };

                        // Request a token for the card from Pin Payments
                        pinApi.createCardToken(card).then(handleSuccess, handleError).done();
                    });

                    function handleSuccess(card) {
                        // Add the card token to the form
                        //
                        // Once you have the card token on your server you can use your
                        // private key and Charges API to charge the credit card.
                        $('<input>')
                            .attr({type: 'hidden', name: 'card_token'})
                            .val(card.token)
                            .appendTo(form);

                        // Resubmit the form to the server
                        //
                        // Only the card_token will be submitted to your server. The
                        // browser ignores the original form inputs because they don't
                        // have their 'name' attribute set.
                        form.get(0).submit();
                    }

                    function handleError(response) {
                        errorHeading.text(response.error_description);

                        if (response.messages) {
                            $.each(response.messages, function(index, paramError) {
                                $('<li>')
                                .text(paramError.message)
                                .appendTo(errorList);
                            });
                        }

                        errorContainer.show();

                        // Re-enable the submit button
                        submitButton.removeAttr('disabled');
                    };
                });
                /*]]>*/

        </script>
        <div class="row-fluid">
        <div class="span1"></div>
        <div class="span6">
            <button type="submit" name="submit_button" id="submit_button" class="button big">Continue</button>
        </div>
        <div class="span5"></div>
    	</div>

    </div>
    </div>
    <div th:if="${paymentInfo.giftCodesOnly == true}">
    	<p class="secondary">Coming soon!</p>
    </div>
    </div>
    </div>
    <div class="span5"><p class="payment3"></p>

        <div class="equation">Respect Network
            <br/>LIFETIME membership
            <br/>+<br/>LIFETIME Base
            <br/>Cloud hosting
        </div>
        <div class="equals" th:text="${totalAmountText}"> $xx USD
        </div>
    </div>
    </div>


    

    <input type="hidden" name="numberOfClouds" value="" id="numberOfClouds" th:value="*{numberOfClouds}"/>
    <input type="hidden" name="txnType" value="" id="txnType" th:value="*{txnType}"/>
    <input type="hidden" name="amount" value="" id="amount" th:value="${amount}"/>
    </form>


    </div>
	
	
			
</div>

 <div id="footer">
  <div class="row-fluid">
    <div class="span1"></div>
    <div class="span10 cspMain">YOUR CLOUD SERVICE PROVIDER | <img src="img/csp_logo.png" /> &nbsp;
		</div>
	</div>
<!--  <div class="row-fluid">
  	<div class="span1"></div>
  	<div class="span3">
  		<div id="help"><a target="_blank" onclick="return windowpop(this.href, 545, 433); " th:href="@{/help}">Help</a></div>
		</div>
		<div class="span6"></div>
	</div>
-->
</div>

    <!-- Javascript
    ================================================== -->
    <!-- <script src="js/libs/bootstrap-collapse.js"></script> -->

</body>
</html>
