<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

<title></title>
<meta name="description" content="Dependent "/>

<meta name="viewport" content="width=device-width,initial-scale=1"/>

<!--
<link rel="stylesheet" href="../../css/csp.css" th:href="@{/css/csp.css}"/>
<script src="../../js/libs/modernizr-2.0.6.min.js" th:src="@{/js/libs/modernizr-2.0.6.min.js}"></script>
-->
	<!-- <style type="text/css">
  	/*  THIS IS JUST TO GET THE GRID TO SHOW UP.  YOU DONT NEED THIS IN YOUR CODE */
  		#maincontent .col { background: #fff; }
      	</style>
    -->


<!-- Responsive Stylesheets -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
		<link href="css/bootstrap-responsive.css" rel="stylesheet" />

<link href="css/csp_styles.css" rel="stylesheet" />

<link href="https://s3.amazonaws.com/rnfonts/demo.css" rel="stylesheet" type="text/css" />




<!-- Scripts-->	
<script src="../../js/libs/modernizr-2.0.6.min.js" th:src="@{/js/libs/modernizr-2.0.6.min.js}"></script>

<script src="../../js/libs/responsivegridsystem.js" th:src="@{/js/libs/responsivegridsystem.js}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/libs/misc.js"> </script>

<script src="js/libs/bootstrap-dropdown.js"></script>
	<!--include the javascript that checks availability-->
	<script src="js/libs/nameavailability.js"></script>
	<script src="js/libs/validatedate.js"></script>
	<script src="js/libs/validatePwd.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>

<body>
<div id="wrapper">
    
	<!-- Fixed navbar -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
      <div class="row-fluid">  
        <div class="span4 smallTop">
        	<p class="cspHeader right"><img src="img/csp_logo.png" /></p>
        </div>
        <div class="span4"></div>
        <div class="span4 equation">
             <ul class="nav">
                 <a  href="#" class="dropdown-toggle" data-toggle="dropdown"><span th:text="${cloudName}"/> &nbsp;<b class="caret"></b> &nbsp;</a>
                <ul class="dropdown-menu">
                  <li><a th:href="@{/logout}">Logout</a></li>
              </ul>

            </ul> 
        </div>
      </div>
			</div>
  	</div>
	</div>
<!-- Begin page content -->
	<div class="bodyContainer">
    <div class="row-fluid"> 
    	<div class="span1"></div> 
      <div class="span5" >		
			<br/><span style="color:red" th:text="${error}"></span><br/>      	
	      <p class="primaryLeftJustified">Add clouds for my dependents </p>
			<br></br><span class="dependent-error"  name="duplicateCloudName" id="duplicateCloudName"></span>
	      	<p class="payment3">Dependent's cloud name:</p>                           
          <form action="#"  th:object="${dependentForm}" th:action="@{/dependentSubmit}" method="post">
      		<div id="allDependents">
      			
				<div>      			
                <input type="text" th:field="*{dependentFormIndividual[0].dependentCloudName}" id="dependentCloudName" name ="dependentCloudName" value="" class="inputFields smallMarg" placeholder="=dependent name" required="required" autofocus="autofocus"  />
				<br></br>
				<span class="error"  name="isAvailable" id="isAvailable"></span>	
				<br/> Passwords need to be at least 8 characters and <br/>have at least 2 digits , 2 letters and one special symbol like @,#,$ etc.
				<br />          	
				<input type="password" th:field="*{dependentFormIndividual[0].dependentPassword}" name="dependentCloudPassword" value="" class="inputFields smallMarg"
                                id="dependentCloudPassword" placeholder="password" required="required"
                                th:value="*{dependentCloudPassword}" onchange="validatePwd(this.value)" />
                <br></br><span class="dependent-error"  name="isValidPassword" id="isValidPassword"></span>
 			    	<p class="secondary"></p>
<!-- 			    	
           		<p class="payment3">Dependent's birthdate:
           		<br />
           		<input type="text" autocomplete="off" name="dependentBirthDay" placeholder=" day" class="inputFields dinky" required="required" />
							&nbsp; <input type="text" name="dependentBirthMonth" placeholder=" mm" class="inputFields dinky" required="required" /> 
							&nbsp;  <input type="text" name="dependentBirthYear" placeholder=" yyyy" class="inputFields dinky" required="required" />
	          	</p>
  -->   
  				<p class="payment3">Dependent's birthdate: </p>
				<input type="text" th:field="*{dependentFormIndividual[0].dependentBirthDate}" name="dependentBirthDate" value="" class="inputFields smallMarg dependentBirthDate" placeholder="MM/DD/YYYY" required="required" onchange="validateDate(this.value)"/>
				<br></br><span class="dependent-error"  name="isValidDate" id="isValidDate"></span>
                <p class="secondary">
		     	<input type="checkbox" name="consent" id="consent"  required="required"  />
            	I consent to my dependent obtaining a personal cloud.        
     			</p>            
     			</div>
     	</div>
    	
    			<button id="addAnotherDependent" class="button" type="button">+ Add another</button>
				<button type="submit" name="submit" id="submit" class="button">Continue</button> &nbsp; &nbsp;
          		<!-- <a href="/cloudPage">Cancel</a> -->
    			<input type="hidden" name="avAPI" value="" id="avAPI" th:value="*{nameAvailabilityCheckURL} + '/api/availability/equals/'"/>      		
 	    	</form>
     	

   <script th:inline="javascript">
	/*<![CDATA[*/
  

 $(document).ready(function () {
 
	function checkCloudNameAvailability(cloudName, isAvailable){
	 // the value of this var is the id of the input element
 		// that the user is typing into
		var cloudnameField = "#"+cloudName;
 
	 	// the value of this var is the id of the display element 
 		// that will be used to convey information to the user
		var messageSpan = "#"+isAvailable;
 		


	    $(cloudnameField).checkCloud({
	        completed: function(elem, success) {

	        	// success var will contain a 1 if the name is available
	        	// and 0 if it not available.

                if(window.console) {
                    console.log('Checking cloud...');
                    console.log(success);
                }

                // clear error
                if ($(cloudnameField).val().trim() == '') {
                    $(messageSpan).html('');
                    return;
                }

	        	if(success==1)
	        	{
	        		// Make whatever changes to the UI to indicate that the name is
	        		// available
                    $(messageSpan).html(" &radic; Your cloud name is available. Claim it.");
	        		$(messageSpan).css('color', 'green');
                    $(messageSpan).css('font-size', '13px');
					document.getElementById('submit').disabled = false;		
					if(window.mycounter != undefined) {
  						checkIfCloudNamesAreUnique();
					}
                }else {
                    // Make whatever changes to the UI to indicate that the name is
                    // unavailable
                    $(messageSpan).html("Sorry, that cloud name is not available. Please try again.");
                    $(messageSpan).css('color', 'red');
                    $(messageSpan).css('font-size', '13px');
					document.getElementById('submit').disabled = true;	
                }
				


	        },
	        changed: function(elem) {
				//Called when user is typing
                if(window.console) {
                    console.log('Changing cloud...');
                }
	        },
	        // indicates if the leading symbol should be removed prior to adding the 
	        // name to the path
	        stripSymbol:true, 

	        // indicates the location of the availability service

	        availabilityApi :  document.getElementById("avAPI").value

	    }); 
	}
    function getAllCloudNames() {
         var cNameList = [];
         cNameList.push($("#dependentCloudName").val());
 
             var i=1;
             var validDate = true;
             while(i<=window.mycounter) {
				 if(document.getElementById('dependent'+ i) != null)
				 {
                 	cNameList.push($("#dependentCloudName" + i).val());
			     }		
                 i++;
             }
 
         return cNameList;
     }
 
     function checkIfCloudNamesAreUnique() {
         var arr = getAllCloudNames();
         var map = {}, i, size;
 
         var retVal = null;
         for (i = 0, size = arr.length; i < size; i++){
             if (map[arr[i]]){
                 document.getElementById('submit').disabled = true;
                 retVal = "Cloud names cannot be duplicate.";
                 break;
             }
             map[arr[i]] = true;
         }
         $("#duplicateCloudName").html(retVal);
         $("#duplicateCloudName").css('color', 'red');
         if(retVal == null) {
         	$("#duplicateCloudName").text('');
         }

         disableEnableContinue();
     }
     function setDatePicker() {
         $(function() {
            $( ".dependentBirthDate" ).datepicker({changeMonth: true, changeYear: true, yearRange: "1900:2020"});
        });
     }
     setDatePicker();
    checkCloudNameAvailability("dependentCloudName", "isAvailable");

    $("#addAnotherDependent").click(function(){
      if (window.mycounter === undefined) {
          window.mycounter = 1;
      }
      else {
          window.mycounter++;
      }
      var depCloudName = 'dependentCloudName' +  window.mycounter;
      var depIsAvailable = 'isAvailable' +  window.mycounter;
      var isValidDate = 'isValidDate' +  window.mycounter;
      var divId = 'dependent'+ window.mycounter;
      var isValidPassword = 'isValidPassword' +  window.mycounter;

      var strA = '<div id="'+divId+'"><table ><tr><td><p class="payment3">Dependent&apos;s cloud name &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="removeDiv('+divId+');">Delete Dependent</a></p></td></tr>  <tr> <td> <input type="text" class="inputFields smallMarg" name="dependentFormIndividual[' + window.mycounter + '].dependentCloudName' ;
      var strB = strA + '"  id="' ;
      var strC = strB +  depCloudName ;
      var strD = strC + '" placeholder="=dependent name" required="required" /> </td> </tr><tr><td><span class="error"  name="' ;
      var strE = strD + depIsAvailable ;
      var strF = strE + '"  id="' ;
      var strG = strF + depIsAvailable ;
      var strH = strG + '"></span></td></tr> <tr><td><input type="password" name="dependentFormIndividual[' + window.mycounter + '].dependentPassword" class="inputFields smallMarg" id="dependentCloudPassword" placeholder="password" required="required" onchange="validatePwd(this.value, ' ;
      var strI = strH + window.mycounter ;
      var strJ = strI + ')" /> </td></tr><tr><td><span class="dependent-error"  name="' ;
      var strK = strJ + isValidPassword ;
      var strL = strK + '"  id="' ;
      var strM = strL + isValidPassword;
      var strN = strM + '"></span></td></tr><tr><td><p class="payment3">Dependent&apos;s birthdate:</p></td></tr><tr><td><input type="text" class="inputFields smallMarg dependentBirthDate" name="dependentFormIndividual[' + window.mycounter + '].dependentBirthDate" value="" placeholder="MM/DD/YYYY" required="required" onchange="validateDate(this.value, ' ;
      var strO = strN + window.mycounter ;
      var strP = strO + ')"   /></td></tr><tr><td><span class="dependent-error"  name="' ;
      var strQ = strP + isValidDate ;
      var strR = strQ + '"  id="' ;
      var strS = strR + isValidDate ;
      var strT = strS + '"></span></td></tr><tr><td><p class="secondary"> <input type="checkbox" name="consent"  required="required" /> I consent to my dependent obtaining a personal cloud.</p></td></tr></table></div>';
      $( strT ).appendTo("#allDependents");

      checkCloudNameAvailability(depCloudName, depIsAvailable);
      setDatePicker();
    });
});
function removeDiv(depDiv) {

    if(window.console) {
        console.log('Going to remove ...' + depDiv);
    }
    $(depDiv).remove();
}	
//Function to disable enable the Continue button.
//Enable Continue botton, if no error in dependent cloudname, password and birthdate.
function disableEnableContinue() {
    var enableSubmit = true;
    if($('span#duplicateCloudName').text() != "") {
        enableSubmit = false;
    } else {
        if(window.mycounter == undefined) {
            if($('span#isAvailable').text() == "Sorry, that cloud name is not available. Please try again.") {
                enableSubmit = false;
            }
            if(($('span#isValidDate').text() != "") || ($('span#isValidPassword').text() != "")) {
               enableSubmit = false;
            }
        } else {
            var i=0;
            while(i<=window.mycounter && enableSubmit) {
                if(i == 0) {
                    if($('span#isAvailable').text() == "Sorry, that cloud name is not available. Please try again.") {
                        enableSubmit = false;
                        break;
                    }
                    if(($('span#isValidDate').text() != "") || ($('span#isValidPassword').text() != "")) {
                        enableSubmit = false;
                        break;
                    }
                } else {
                    if($('span#isAvailable'+window.mycounter).text() == "Sorry, that cloud name is not available. Please try again.") {
                        enableSubmit = false;
                        break;
                    }
                    if(($('span#isValidDate'+window.mycounter).text() != "") || ($('span#isValidPassword'+window.mycounter).text() != "")) {
                        enableSubmit = false;
                        break;
                    }
                }
                i++;
            }
        }
    }
    if(enableSubmit) {
        document.getElementById('submit').disabled = false;
    } else {
        document.getElementById('submit').disabled = true;
    }
}
/*]]>*/

</script>
     	
	</div>
    		
    <div class="span5">	   
    </div>  	
    </div>    
                                
  </div>  <!-- end maincontent -->
 </div> <!-- end wrapper -->      
 <div id="footer">
      	
  			
    </div>
<!--The following script hooks the HTML Elements to the javascript functionality-->
	<!-- see the comments inside the javascript for details-->
 
</body>
</html>