<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{invite.text.header}">Invite &amp; Gift Cards!</title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="description" content="Invite"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <!--
  <link rel="stylesheet" href="../../css/csp.css" th:href="@{/css/csp.css}"/>
  <script src="../../js/libs/modernizr-2.0.6.min.js" th:src="@{/js/libs/modernizr-2.0.6.min.js}"></script>
  -->
    	<!-- <style type="text/css">
  	/*  THIS IS JUST TO GET THE GRID TO SHOW UP.  YOU DONT NEED THIS IN YOUR CODE */
  		#maincontent .col { background: #fff; }
      	</style>
    -->
	<link rel="stylesheet" media="all" href="css/styles.css" type="text/css"/>
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>	

  <link rel="stylesheet" href="css/html5reset.css" media="all"/>
  <link rel="stylesheet" href="css/responsivegridsystem.css" media="all"/>
  <link rel="stylesheet" href="css/col.css" media="all"/>
  <link rel="stylesheet" href="css/5cols.css" media="all"/>
  <link rel="stylesheet" href="css/6cols.css" media="all"/>
  <link rel="stylesheet" href="css/7cols.css" media="all"/>
  <link rel="stylesheet" href="css/8cols.css" media="all"/>
  <link rel="stylesheet" href="css/9cols.css" media="all"/>
  <link rel="stylesheet" href="css/10cols.css" media="all"/>
  <link rel="stylesheet" href="css/11cols.css" media="all"/>
  <link rel="stylesheet" href="css/12cols.css" media="all"/>

	

<!-- Responsive Stylesheets -->
	<link rel="stylesheet" media="only screen and (max-width: 1024px) and (min-width: 769px)" href="/css/1024.css"/>
  <link rel="stylesheet" media="only screen and (max-width: 768px) and (min-width: 481px)" href="/css/768.css"/>
  <link rel="stylesheet" media="only screen and (max-width: 480px)" href="/css/480.css"/>

<!-- Scripts-->	
<script src="../../js/libs/modernizr-2.0.6.min.js" th:src="@{/js/libs/modernizr-2.0.6.min.js}"></script>

<script src="../../js/libs/responsivegridsystem.js" th:src="@{/js/libs/responsivegridsystem.js}"></script>

<script src="https://code.jquery.com/jquery.js" th:src="@{/js/libs/jquery.js}"></script>

<script src="../../js/libs/bootstrap.js" th:src="@{/js/libs/bootstrap.js}" ></script>
  
</head>
<body>
<div id="wrapper">
    
	<div id="maincontentcontainer">
		
        <div id="maincontent">
        	
            <div class="section group">
                
                <div class="col span_4_of_11">
                <div id="header">
                	<img src="img/RespectLogo1.png" alt="Respect Network"/>
                </div> <!-- end id header -->
                </div> <!-- end class -->
                <div class="col span_7_of_11">
                &nbsp;
                </div>
                
            </div> <!-- end section group -->
            	
      <form action="#" th:object="${inviteForm}" th:action="@{/inviteReview}" method="post">
        <table id="inviteTable" width="100%">
          <tr>
            <td colspan="2"><p class="headerText" th:text="#{invite.text.header}">Create Gift Cards!</p>
              <p class="subHeaderText" th:text="#{invite.text.invite}">Invite friends and family to enjoy the benefits of the Respect Network First Million Members campaign!</p>
              <p class="subHeaderText" th:if="${error}" th:text="${error}" style="color: orange">System Error</p>
            </td>
          </tr>
          <tr>
            <td colspan="2"><input style="width:100%" maxlength="64" type="text" id="emailAddress" name="emailAddress" value="" th:value="${inviteForm.emailAddress}" placeholder="Your email address" th:placeholder="#{invite.text.email}" required="required" autofocus="autofocus"/></td>
          </tr>
          <tr th:if="${#fields.hasErrors('emailAddress')}">
            <td colspan="2"><p style="color: orange; font-size: 18px;" th:text="#{invite.error.email}">email address is wrong</p></td>
          </tr>
          <tr>
            <td><input type="hidden" id="giftCardFlag" name="giftCardFlag" value="true" /></td>
            <td><span th:text="#{invite.text.include}">Include</span> <span th:text="${cspModel.currency}">$</span> <span th:text="${#numbers.formatDecimal(cspModel.costPerCloudName, 0, 'COMMA', 2, 'POINT')}">25.00</span> <span th:text="#{invite.text.giftcards}">Gift Cards</span> <select id="giftCardQuantity" name="giftCardQuantity" >
                <option th:each="quantity : ${quantityList}" th:value="${quantity}" th:text="${quantity}" th:selected="${quantity.equals(inviteForm.giftCardQuantity)}" >0</option>
              </select>
            </td>
          </tr>
          <tr th:if="${#fields.hasErrors('giftCardQuantity')}">
             <td colspan="2"><p style="color: orange; font-size: 18px;" th:text="#{invite.error.quantity}">gift card quantity is invalid</p></td>
          </tr>
          <tr>
          <!--
            <td colspan="2"><textarea style="width:100%" rows="5" id="emailMessage" name="emailMessage" placeholder="Add a personal message to the email" th:placeholder="#{invite.text.message}" th:field="${inviteForm.emailMessage}"></textarea></td>
		  -->
		    <input type="hidden" name="emailMessage" value=" " id="emailMessage" />            
          </tr>
          <tr th:if="${#fields.hasErrors('emailMessage')}">
             <td colspan="2"><p style="color: orange; font-size: 18px;" th:text="#{invite.error.message}">your message is invalid</p></td>
          </tr>
          <tr>
            <td colspan="2" align="center"><input type="submit" value="Next" th:value="#{invite.text.continue}" name="submit" class="submit" /></td>
          </tr>
        </table>
      </form>
			<div class="bottom">
            	<div class="group">
            	  <div class="col span_7_of_11">
                  </div>
                  
                  <div class="col span_4_of_11">
                    <div id="logo">
                    <img src="img/logo.png" alt="Happy Cloud Co."/>
                    </div><!-- end logo -->
                  </div><!-- end class -->
                </div><!-- end group -->
            </div><!-- end bottom -->
 			</div>  <!-- end maincontent -->
       </div>  <!-- end maincontentcontainer -->
        <footer>
			<div class="col span_11_of_11">
			<p>&copy; 2014 All Rights Reserved  |  Respect Network personal cloud services</p>
			</div>

		</footer>

    
 </div> <!-- end wrapper -->

</body>
</html>
