<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{invite.text.header}">Invite &amp; Gift Cards!</title>
  <meta charset="utf-8" />
    <title>Respect Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/bootstrap-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../../js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png" />
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png" />
                    <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png" />
                                   <link rel="shortcut icon" href="img/ico/favicon.png" />
  
</head>
<body>
<div id="wrap">
    
	
        	
            <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
          <div class="row-fluid">  
          	<div class="span4 smallTop"><img src="img/RespectNetwork_Logo_H_RGB.png" />
          	</div>
          	<div class="span4 midHdr">
          	<div class="span4 smallTop">
          		<p class="cspHeader center"> &nbsp; Welcome <span th:text="${cloudName}"/></p>
        	</div>
          	</div>
          	<div class="span4 bigTop">
             <p class="secondary">PRESS | FAQs</p>
         		</div>
          </div>

          </div>
        </div>
      </div>
      <!-- Begin page content -->
      <div class="bodyContainer">
		<div class="middle">      	
      <form action="#" th:object="${inviteForm}" th:action="@{/inviteReview}" method="post">
        <table id="inviteTable" width="100%">
          <tr>
            <td colspan="2"><p class="headerText" th:text="#{invite.text.header}">Create Gift Cards!</p>
              <p class="subHeaderText" th:text="#{invite.text.invite}">Invite friends and family to enjoy the benefits of the Respect Network First Million Members campaign!</p>
              <p class="subHeaderText" th:if="${error}" th:text="${error}" style="color: orange">System Error</p>
            </td>
          </tr>
          <tr>
            <td colspan="2"><input class="inputFields" maxlength="64" type="text" id="emailAddress" name="emailAddress" value="" th:value="${inviteForm.emailAddress}" placeholder="Your email address"  required="required" autofocus="autofocus"/></td>
          </tr>
          <tr th:if="${#fields.hasErrors('emailAddress')}">
            <td colspan="2"><p style="color: orange; font-size: 18px;" th:text="#{invite.error.email}">email address is wrong</p></td>
          </tr>
          <tr>
            <td><input type="hidden" id="giftCardFlag" name="giftCardFlag" value="true" /></td>
            
            <td><span th:text="#{invite.text.include}">Number of </span> <span th:text="${cspModel.currency}">$</span> <span th:text="${#numbers.formatDecimal(cspModel.costPerCloudName, 0, 'COMMA', 2, 'POINT')}">25.00</span> <span th:text="#{invite.text.giftcards}">Gift Cards</span> <select id="giftCardQuantity" name="giftCardQuantity" >
                <option th:each="quantity : ${quantityList}" th:value="${quantity}" th:text="${quantity}" th:selected="${quantity.equals(inviteForm.giftCardQuantity)}" >0</option>
              </select>
            </td>
          </tr>
          <tr th:if="${#fields.hasErrors('giftCardQuantity')}">
             <td colspan="2"><p style="color: orange; font-size: 18px;" th:text="#{invite.error.quantity}">gift card quantity is invalid</p></td>
          </tr>
          <tr>
          <!--
            <td colspan="2"><textarea style="width:100%" rows="5" id="emailMessage" name="emailMessage" placeholder="Add a personal message to the email" th:placeholder="#{invite.text.message}" th:field="${inviteForm.emailMessage}"></textarea></td>
		  -->
		    <input type="hidden" name="emailMessage" value=" " id="emailMessage" />            
          </tr>
          <tr th:if="${#fields.hasErrors('emailMessage')}">
             <td colspan="2"><p style="color: orange; font-size: 18px;" th:text="#{invite.error.message}">your message is invalid</p></td>
          </tr>
          <tr>
            <td colspan="2" align="center"><button type="submit" value="Next" th:value="#{invite.text.continue}" name="submit" class="button big" >Next</button></td>
          </tr>
        </table>
      </form>
      </div>
	</div>
			<div id="footer">
      	<div class="row-fluid">
    			<div class="span11 cspMain">YOUR CLOUD SERVICE PROVIDER | <img src="img/csp_logo.png" /> &nbsp;
					</div>
				</div>
  			<div class="border">
  				<div id="feedback">
  					<a href="/feedback_url/">Help</a>
					</div>
				</div>
    </div>

    
 </div> <!-- end wrap -->

</body>
</html>
