<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{invite.text.header}">Invite &amp; Gift Cards!</title>
  <meta charset="utf-8" />
    <title>Respect Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/bootstrap-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../../js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png" />
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png" />
                    <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png" />
                                   <link rel="shortcut icon" href="img/ico/favicon.png" />
<script src="js/libs/misc.js"> </script>                                   
  
</head>
<body>
<div id="wrap">
    
	
        	
            <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
          <div class="row-fluid">  
          	<div class="span4 smallTop"><img src="img/csp_logo.png" />
          	</div>
          	<div class="span4 midHdr">
          	<div class="span4 smallTop">
          		<p class="cspHeader center"> &nbsp; Welcome <span th:text="${cloudName}"/></p>
        	</div>
          	</div>
          	<div class="span4 bigTop">
             <p class="secondary">PRESS | FAQs</p>
         		</div>
          </div>

          </div>
        </div>
      </div>
      <!-- Begin page content -->
      <div class="bodyContainer">
		<div class="middle">      	
      <form action="#" th:object="${inviteForm}" th:action="@{/inviteReview}" method="post">
      	<div class="span5">		
	      <p class="primaryLeftJustified">Buy Personal Cloud Gift Cards</p>
	      
	      <p class="payment3">Gift cards can be purchased for $25 each. An email with the gift code will be sent to you. 
		  </p>  
		  <br />
		  <div th:object="${cspModel}">
		  
		  	<p class="payment3">Forward that email to the recipient and they can redeem it with <span th:text="${cspModel.cspCloudName}" ></span>  on this website.
		   	</p> 
		   </div> 
		   <form:errors path="emailAddress" cssClass="error" /> <br/>
		    <p class="payment3">Email address to send giftcards:
      			<input type="text" th:field="*{emailAddress}" placeholder="email address" required="required"  class="inputFields smallMarg"/>
			</p>
			<p th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}" style="color:red;font-size:15px;"/>
           	<div class="payment3">Number of  giftcards :
           		<input type="number" th:field="*{giftCardQuantity}" placeholder="nn" required="required"  class="inputFields mini" autocomplete="off" min="1" max="10"/>
				<p th:if="${#fields.hasErrors('giftCardQuantity')}" th:errors="*{giftCardQuantity}" style="color:red;font-size:15px;"/>
           	</div>
           	<button type="submit" name="submit" id="submit" class="button big">Continue</button>
           	<input type="hidden" id="giftCardFlag" name="giftCardFlag" value="true" /> 
           	<input type="hidden" name="emailMessage" value=" " id="emailMessage" /> 
           	                   
		</div>
      	
      </form>
      </div>
	</div>
	<div id="footer">
      	
		<div class="help">
  			<div id="help">
  				<a target="_blank" onclick="return windowpop(this.href, 545, 433); " th:href="@{/help}">Help</a>
			</div>
	 	</div>

  	</div>

    
 </div> <!-- end wrap -->

</body>
</html>
