<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{invite.text.send}">Invite &amp; Gift Cards Summary!</title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="description" content="Invite"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../../css/csp.css" th:href="@{/css/csp.css}"/>
  <script src="../../js/libs/modernizr-2.0.6.min.js" th:src="@{/js/libs/modernizr-2.0.6.min.js}"></script>
</head>
<body>
  <div id="fullpage">
    <div id="content">
      <form action="#" th:object="${inviteForm}" th:action="@{/invitePayment}" method="post">
        <table id="inviteTable" width="100%">
          <tr>
            <td colspan="2"><p class="headerText" th:text="#{invite.text.payment}">Gift Card Payments!</p>
              <p class="subHeaderText" th:if="${error}" th:text="${error}" style="color: orange">System Error</p>
            </td>
          </tr>
          <tr th:if="${inviteForm.giftCardFlag.equals(true)}">
            <td span="2"><span th:text="${inviteForm.giftCardQuantity}">0</span> <span th:if="${inviteForm.giftCardQuantity &gt; 1}" th:text="#{invite.text.giftcards}">Gift Cards</span><span th:if="${inviteForm.giftCardQuantity == 1}" th:text="#{invite.text.giftcard}">Gift Card</span> =
                         <span th:text="${cspModel.currency}">USD</span>
                         <span th:text="${#numbers.formatDecimal(cspModel.costPerCloudName.multiply(inviteForm.giftCardQuantity), 0, 'COMMA', 2, 'POINT')}">25.00</span>
            </td>
          </tr>
          <tr>
            <td th:if="${inviteForm.giftCardFlag.equals(true)}" th:utext="${javaScript}">
              <script               src="https://checkout.stripe.com/checkout.js"
                                  class="stripe-button"
                               data-key="sk_test_BQokikJOvBiI2HlWgH4olfQ2"
                            data-amount="2500"
                              data-name="One Personal Cloud"
                       data-description="$25 USD"
                             data-image="img/cloud.png">
              </script>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div id="footer">Acme Cloud Company Inc.</div>
  </div>
</body>
</html>
