<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/page">

<head>
    <style>
        .paymentBody .row-fluid .span4 {
        text-align: left;
        }

        @media (max-width: 450px) {
        .paymentBody .row-fluid .span4 {
        width: 80%;
        }
        .paymentBody {
        padding-top: 25px;
        }
        .paymentBody .row-fluid .span2 {
        width: 10%;
        }
        .paymentBody .row-fluid .span5 {
        width: 80%;
        padding-left: 35px;
        }
        .payment1 {
        font-size: 20px;
        }
        }

        @media (max-width: 767px) and (min-width: 451px){
        .paymentBody .row-fluid .span4 {
        width: 60%;
        margin-top: 0px;
        padding-left: 30px;

        }
        .paymentBody {
        padding-top: 5px;
        }
        .paymentBody .row-fluid .span2 {
        width: 0%;
        }
        .paymentBody .row-fluid .span5 {
        width: 50%;
        padding-left: 35px;
        margin-top: 0px;
        }

        }
    </style>
</head>

<body class="payment">

<!--/* No nav dropdown for this page */-->
<div layout:fragment="nav"></div>

<div class="container" layout:fragment="bodyContent">



    <div class="row-fluid">

        <div class="col-sm-4">
            <div class="page-header">
                <h1>Select Payment Method</h1>
                <span style="color:red" th:text="${error}"> </span>
            </div>

            <form action="#" th:action="@{/makePayment}" method="post"
                  class="form-secondary" th:object="${paymentInfo}">

                <!--/* Gift cards */-->
                <div class="form-group">
                    <div class="radio">
                        <input type="radio" name="paymentType" id="giftCodeRadio"
                               value="giftCard"/>
                        <input type="text" id="giftCodes" name="giftCodes"
                               placeholder="gift code"
                               class="form-control" th:value="*{giftCodes}"/>
                        <p class="help-block">Separate multiple gift codes by spaces</p>
                    </div>

                </div>

                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="paymentType"
                                   value="creditCard"/>
                            Credit card
                        </label>
                    </div>
                </div>

                <!--/* I agree checkbox */-->
                <div class="form-group">
                    <label class="secondary">
                        <input type="checkbox" name="terms" />
                        I agree to the
                        <a target="_blank" onclick="return windowpop(this.href, 545, 433);"
                           href="http://openidentityexchange.org/trust-frameworks/respect-trust-framework">
                            Respect Trust Framework
                        </a>
                        and the one-person one-account rule.
                    </label>
                </div>

                <button type="submit" name="submit" id="submit" class="button btn btn-lg btn-primary">Continue</button>


                <input type="hidden" name="numberOfClouds" value="" id="numberOfClouds" th:value="*{numberOfClouds}"/>
                <input type="hidden" name="txnType" value="" id="txnType" th:value="*{txnType}"/>
            </form>
        </div>

    <div class="col-sm-pull-5">


            <h1>Order summary</h1>

                <!--<div th:switch="*{txnType}">-->
                    <!--<div th:case="'signup'">-->
                        <!--<p class="payment2">-->

                        <!--<div th:if="${#strings.length(paymentInfo.giftCodes)}">-->
                            <!--<input type="radio" id="paymentType" name="paymentType" value="giftCard" checked="true"/>-->
                            <!--&nbsp; <input type="text" name="giftCodes" id="giftCodes" class="inputFields med skinny"-->
                                          <!--placeholder=" gift code" th:value="*{giftCodes}"/>-->
                        <!--</div>-->
                        <!--<div th:if="${#strings.length(paymentInfo.giftCodes) == 0}">-->
                            <!--<input type="radio" id="paymentType" name="paymentType" value="giftCard"/>&nbsp; <input-->
                                <!--type="text" name="giftCodes" id="giftCodes" class="inputFields med skinny"-->
                                <!--placeholder=" gift code"/>-->
                        <!--</div>-->
                        <!--</p>-->
                        <!--<div th:if="${paymentInfo.giftCodesOnly == false}">-->
                            <!--<p class="payment2">-->
                                <!--<input type="radio" id="paymentType" name="paymentType" value="creditCard"> &nbsp; <img-->
                                    <!--src="img/credit-card-front.png"/> &nbsp;Credit cards </input>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div th:case="'buyGiftCard'">-->
                        <!--<div th:if="${paymentInfo.giftCodesOnly == false}">-->
                            <!--<p class="payment2">-->
                                <!--<input type="radio" id="paymentType" name="paymentType" value="creditCard"> &nbsp; <img-->
                                    <!--src="img/credit-card-front.png"/> &nbsp;Credit cards </input>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<div th:if="${paymentInfo.giftCodesOnly == true}">-->
                            <!--<p class="secondary">Coming soon!</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div th:case="'buyDependentCloud'">-->
                        <!--<p class="payment2">-->
                            <!--<input type="checkbox" id="paymentType" name="paymentType" value="giftCard"/>-->
                            <!--&nbsp; <input type="text" name="giftCodes" id="giftCodes" class="inputFields med skinny"-->
                                          <!--placeholder=" gift code"/>-->
                        <!--</p>-->

                        <!--<div th:if="${paymentInfo.giftCodesOnly == false}">-->
                            <!--<p class="payment2">-->
                                <!--<input type="checkbox" id="paymentType" name="paymentType" value="creditCard"> &nbsp;-->
                                <!--<img src="img/credit-card-front.png"/> &nbsp;Credit cards </input>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
		   			



                <div class="equation">Respect Network
                    <br/>LIFETIME membership
                    <br/>+<br/>LIFETIME Base
                    <br/>Cloud hosting
                </div>
                <div class="equals" th:text="${totalAmountText}"> $xx USD </div>
            </div>


    </div>
    </div>

</body>
</html>
