<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Respect Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />
		<link href="css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="css/stylesheet.css" rel="stylesheet" />
    <link href="https://s3.amazonaws.com/rnfonts/demo.css" rel="stylesheet" type="text/css" />
	<!--include jquery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/libs/misc.js"> </script>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png" />
<link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png" />
<link rel="shortcut icon" href="img/ico/favicon.png" />
<script src="js/libs/misc.js"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	
</head>

<body>
<!-- Part 1: Wrap all page content here -->
<div id="wrap">
<!-- Fixed navbar -->
  <div class="navbar navbar-top">
    <div class="navbar-inner">
      <div class="container">
      	<div class="row-fluid small-screen">  
          <h1><img src="img/respect-network-logo.png" alt="Respect Network"/></h1>  
      	</div>        
        <div class="header-cloud-name">
            <span th:text="${cloudName}"/>
        </div>
      </div>
    </div>
  </div>  
      <!-- Begin page content -->
  <div id="content-wrapper"> 
    <div class="paymentBody">
  	  <form id="payment_form" name="payment_form" action="#" th:object="${paymentInfo}" th:action="@{/makePayment}" method="post">
        <div class="row-fluid">
          <div class="span6">
            <p class="payment1">Select Payment Method</p>
            <span style="color:red" th:text="${error}"> </span>
            <p class="secondary">Separate multiple gift codes by spaces</p>
	      		  <div th:switch="*{txnType}">
                <div th:case="'signup'">
                    <div th:if="${#strings.length(paymentInfo.giftCodes)}">
                      <p class="payment-type payment-type-gc">
                      <input type="radio" id="paymentType" name="paymentType" value="giftCard" checked="true"/>
                            &nbsp; 
                      <input type="text" name="giftCodes" id="giftCodes" class="inputFields med skinny" placeholder=" gift code" th:value="*{giftCodes}"/>
                      </p>
                    </div>
                    <div th:if="${#strings.length(paymentInfo.giftCodes) == 0}">	
                      <p class="payment-type">         		
                      <input type="radio" id="paymentType" name="paymentType" value="giftCard" />&nbsp; <input type="text" name="giftCodes"  id="giftCodes" class="inputFields med skinny" placeholder=" gift code" />	
                      </p>			        			
                    </div> 
                  <div th:if="${paymentInfo.giftCodesOnly == false}">
                    <p class="payment-type">
                      <input type="radio" id="paymentType" name="paymentType" value="creditCard"> &nbsp; <img src="img/credit-card-front.png"/> &nbsp;Credit cards </input>
                    </p>
                  </div>
                </div>
                <div th:case="'buyGiftCard'">
                  <div th:if="${paymentInfo.giftCodesOnly == false}">
                    <p class="payment2">
                      <input type="radio" id="paymentType" name="paymentType" value="creditCard"> &nbsp; <img src="img/credit-card-front.png"/> &nbsp;Credit cards </input>
                    </p>
                  </div>
                  <div th:if="${paymentInfo.giftCodesOnly == true}">
                    <p class="secondary">Coming soon!</p>
                  </div>
                </div>
                <div th:case="'buyDependentCloud'">
                 
                    <input type="checkbox"  id="paymentType" name="paymentType" value="giftCard" />
	      		&nbsp;  <input type="text" name="giftCodes"  id="giftCodes" class="inputFields med skinny" placeholder=" gift code"/>      		 
	      			    
                  <div th:if="${paymentInfo.giftCodesOnly == false}">
                    
                      <input type="checkbox"  id="paymentType" name="paymentType" value="creditCard"> &nbsp;  <img src="img/credit-card-front.png" /> &nbsp;Credit cards </input>
                    
                  </div>
                </div>
              </div>
              <div>
                
                  <p class="secondary"><input type="checkbox" name="cspTandC" required="required"/> &nbsp;I agree to the
                     &nbsp;
                  <a target="_blank" onclick="return windowpop(this.href, 545, 433); " th:href="${cspTCURL}">Cloud Service Provider Terms
                        of Service</a></p>
              </div>
            </div>
            <div class="span5 leftPad">
              <div class="equation">Respect Network
                <br/>LIFETIME membership
                <br/>+<br/>LIFETIME Base
                <br/>Cloud hosting
              </div>
              <div class="equals" th:text="${totalAmountText}"> $xx USD </div>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span6">
            <div class="pay-submit">
              <button type="submit" name="submit" id="submit" class="button">Continue</button>
              <input type="hidden" name="numberOfClouds" value="" id="numberOfClouds" th:value="*{numberOfClouds}"/>
              <input type="hidden" name="txnType" value="" id="txnType" th:value="*{txnType}"/>
            </div>
            </div>
            <div class="span5"></div>
          </div>
        </form>
      </div>
    </div> 
  <div class="push"></div>
</div>
<div id="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="cspMain">YOUR CLOUD SERVICE PROVIDER | <img src="img/csp_logo.png" /> &nbsp;
      </div>
    </div>
  </div>
</div>

    <!-- Javascript
    ================================================== -->
   <!-- <script src="js/libs/bootstrap-collapse.js"></script> -->

    
</body>
</html>
