<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Respect Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
		<link href="css/bootstrap-responsive.css" rel="stylesheet" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="imgico/apple-touch-icon-72-precomposed.png" />
<link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png" />
<link rel="shortcut icon" href="img/ico/favicon.png" />
<script src="js/libs/misc.js"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	
</head>

<body>
<!-- Part 1: Wrap all page content here -->
<div id="wrap">
	<!-- Fixed navbar -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
      <div class="row-fluid">  
        <div class="span4 smallTop"><img src="img/RespectNetwork_Logo_H_RGB.png" />
        </div>
        <div class="span4 midHdr"><span th:text="${cloudName}"/>
        </div>
        <div class="span4 bigTop">
          <p class="secondary">PRESS | FAQs</p>
        </div>
      </div>
		</div>
  </div>
</div>

<!-- Begin page content -->
	<div class="container">
    <div class="row-fluid"> 
    	<div class="span1"></div> 
      <div class="span5">		
	      <p class="payment1">Select Payment Method</p>                           
        <form id="payment_form" name="payment_form" action="#" th:object="${paymentInfo}" th:action="@{/makePayment}" method="post">
        <div th:switch="*{txnType}">
        
        	<div th:case="'signup'">
         	<p class="payment2">
			<div th:if="${#strings.length(paymentInfo.giftCodes)}">	         		
        		<input type="radio" id="paymentType" name="paymentType" value="giftCard" checked="true" />&nbsp;<input type="text" name="giftCodes"  id="giftCodes" class="inputFields med skinny" placeholder=" gift code" th:value="*{giftCodes}"/>				        			
        	</div>	
			        	
			<div th:if="${#strings.length(paymentInfo.giftCodes) == 0}">	         		
        		<input type="radio" id="paymentType" name="paymentType" value="giftCard" />&nbsp; <input type="text" name="giftCodes"  id="giftCodes" class="inputFields med skinny" placeholder=" gift code" th:value="*{giftCodes}"/>				        			
        	</div>        	
		       
        	 

	      	</p>
	        <p class="payment2">
	        	<input type="radio" id="paymentType" name="paymentType" value="creditCard"> &nbsp;  <img src="img/credit-card-front.png" /> &nbsp;Credit cards </input>
					</p>
		  </div>
		  
		  <div th:case="'buyGiftCard'">
	        <p class="payment2">
	        	<input type="radio" id="paymentType" name="paymentType" value="creditCard"> &nbsp;  <img src="img/credit-card-front.png" /> &nbsp;Credit cards </input>
			</p>
		  
		  </div>
		  
		  <div th:case="'buyDependentCloud'">
		  <p class="payment2">
        		<input type="checkbox"  id="paymentType" name="paymentType" value="giftCard" />
	      		&nbsp;  <input type="text" name="giftCodes"  id="giftCodes" class="inputFields med skinny" placeholder=" gift code"/> 
	      		<p class="notes">separate multiple codes by spaces</p>
	      	</p>
	        <p class="payment2">
	        	<input type="checkbox"  id="paymentType" name="paymentType" value="creditCard"> &nbsp;  <img src="img/credit-card-front.png" /> &nbsp;Credit cards </input>
			</p>
		  </div>
		   			
		  </div>					
          
         	<p class="secondary">
          	<input  type="checkbox" name="cspTandC" value="false" required="required"/>  &nbsp;I agree to the CSP &nbsp;  
          	<br /> &nbsp; &nbsp; &nbsp;<a target="_blank" onclick="return windowpop(this.href, 545, 433); " th:href="@{/csptc}">Terms of Service</a>
          	
					</p>
          <button type="submit" name="submit" id="submit" class="button">Continue</button>
	        <input type="hidden" name="numberOfClouds" value="" id="numberOfClouds" th:value="*{numberOfClouds}" />                
			<input type="hidden" name="txnType" value="" id="txnType" th:value="*{txnType}" />	
						
        </form>
    </div>
    <div class="span5">
    	<div class="equation">Respect Network 
    		<br />LIFETIME membership
        <br />+<br />LIFETIME Connection 
        <br />Cloud hosting 
     	</div>
     	<div class="equals" th:text="${totalAmountText}"> $xx USD
			</div>
		</div>
      
	</div>
   </div>
</div>	
     
     <div id="footer">
      	<div class="row-fluid">
      		<div class="span1"></div>
    			<div class="span10 cspMain">YOUR CLOUD SERVICE PROVIDER | <img src="img/csp_logo.png" /> &nbsp;
					</div>
				</div>
  			<div class="help">
  				<div id="help">
  					<a target="_blank" onclick="return windowpop(this.href, 545, 433); " th:href="@{/help}">Help</a>
				</div>
	 		</div>
    </div>

    
</body>
</html>
