<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Respect Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/bootstrap-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../../js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png" />
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png" />
                    <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png" />
                                   <link rel="shortcut icon" href="img/ico/favicon.png" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	
	<!--include the javascript that checks availability-->
	<script src="js/libs/nameavailability.js"></script>
    <script src="js/libs/misc.js"> </script>                               
  </head>

<body>
<!-- Part 1: Wrap all page content here -->
<div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
          <div class="row-fluid">  
          	<div class="span4 smallTop"><img src="img/csp_logo.png" />
          	</div>
          	<div class="span4 midHdr">
          	</div>
          	<div class="span4 bigTop">
             <p class="secondary">PRESS | FAQs</p>
         		</div>
          </div>

          </div>
        </div>
      </div>

      <!-- Begin page content -->
      <div class="bodyContainer">
				<div class="middle"> Choose your cloud name 
					<form action="#" role="form" th:object="${signUpInfo}" th:action="@{/signup}" method="post">

            <input type="text" class="inputCloudName" name="cloudName" value="" id="cloudName" placeholder="=you..." required="required" autofocus="autofocus" />
 			<br></br>           
            <span class="error"  name="isAvailable" id="isAvailable"></span>
            
 							<p class="secondary">e.g., =jane, =janedoe, =jane.doe
							</p>
						<button type="submit" name="submit" id="submit" class="button">Submit</button>
						<input type="hidden" name="giftCode" id="giftCode" th:value="*{giftCode}" />						
					</form>
				</div>
			</div>
</div>
     <div id="footer">
      	
		<div class="help">
  			<div id="help">
  				<a target="_blank" onclick="return windowpop(this.href, 545, 433); " th:href="@{/help}">Help</a>
			</div>
	 	</div>

  	</div>

  
<!--The following script hooks the HTML Elements to the javascript functionality-->
	<!-- see the comments inside the javascript for details-->
 <script>
 
 $(document).ready(function () {
 
 		// the value of this var is the id of the input element 
 		// that the user is typing into
 		var cloudnameField = "#cloudName";
 
	 	// the value of this var is the id of the display element 
 		// that will be used to convey information to the user
 		var messageSpan = "#isAvailable";
 
 		
	    $(cloudnameField).checkCloud({
	        completed: function(elem, success) {
	        	
	        	// success var will contain a 1 if the name is available
	        	// and 0 if it not available.
	        	
	        	console.log('Checking cloud...');
	            console.log(success);
	        	
	        	if(success==1)
	        	{
	        		// Make whatever changes to the UI to indicate that the name is
	        		// available
	        		$(messageSpan).html(" &radic; Your cloud name is available");
	        		$(messageSpan).css('color', 'green');
	        		 		      		
	        	}else{
	        	
	        		// Make whatever changes to the UI to indicate that the name is
	        		// unavailable
	        		$(messageSpan).html("This cloud name is NOT available");	        		
	        		$(messageSpan).css('color', 'red');	
	        		      		
	        	}
	        	
	            
	        },
	        changed: function(elem) {
				//Called when user is typing
	            console.log('Changing cloud...');
	        },
	        // indicates if the leading symbol should be removed prior to adding the 
	        // name to the path
	        stripSymbol:true, 
	        
	        // indicates the location of the availability service
	        availibilityAPI: "http://cloudnameavailability.elasticbeanstalk.com/api/availability/equals/"
	    }); 
	});
 
 
 </script>


</body>
</html>
