<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

<title></title>
<meta name="description" content="HTML 5 CSS 3 Spring Form"/>

<meta name="viewport" content="width=device-width,initial-scale=1"/>

<link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}"/>
<script src="../../js/libs/modernizr-2.0.6.min.js" th:src="@{/js/libs/modernizr-2.0.6.min.js}"></script>
</head>

<body>
	<div id="container">
		<header> </header>

		<form action="#" th:object="${signUpInfo}" th:action="@{/signup}"
			method="post">

			<h1>Register Cloud Name</h1>
			
			<p><span style="color: red;" th:text="${error}">System Error</span></p>
		
			<fieldset id="signup-details">

				<table>
					<tr>
						<td><label for="cloudName" th:text="#{theader.cloudName}">cloudName:
						</label></td>
						<td><input type="text" name="cloudName" value=""
							id="cloudName" placeholder="=you" required="required"
							autofocus="autofocus" th:value="*{cloudName}" /></td>
						<td>
							<p style="color: red;" th:text="${cloudNameError}">CN Error</p>
						</td>
					</tr>
					<tr>
						<td><label for="email" th:text="#{theader.email}">email: </label></td>
						<td><input type="text" name="email" value="" id="email"
							placeholder="you@maildomain.com" required="required" autofocus="autofocus"
							th:value="*{email}" /></td>
						<td>
							<p style="color: red;" th:text="${emailError}">Email Error</p>
					    </td>
					</tr>
					<tr>
						<td><label for="mobilePhone" th:text="#{theader.mobilePhone}">mobilePhone:
						</label></td>
						<td><input type="text" name="mobilePhone" value=""
							id="mobilePhone" placeholder="+14156783455" required="required"
							autofocus="autofocus" th:value="*{mobilePhone}" /></td>
						<td>
							<p style="color: red;" th:text="${phoneError}">Phone Error</p>
						</td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" value="Register" name="submit"
							class="submit" />
					    </td>
					</tr>
				</table>
				
			</fieldset>
			
			<!-- end user-message -->
			<div id="errors" th:if="${#fields.hasErrors('*')}">
					<ul>
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
					</ul>
			</div>
				
		</form>

		<footer>
			
		</footer>
	</div>
	<!--! end of #container -->

	
	<script>
		/*<![CDATA[*/
		//Embbeded Javascript    
		/*]]>*/
	</script>

</body>
</html>
