<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

<title></title>
<meta name="description" content="HTML 5 CSS 3 Spring Form"/>

<meta name="viewport" content="width=device-width,initial-scale=1"/>

<link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}"/>
<script src="../../js/libs/modernizr-2.0.6.min.js" th:src="@{/js/libs/modernizr-2.0.6.min.js}"></script>
</head>

<body>
	<div id="container">
		<header> </header>

		<form style="width: 715px" action="#" th:object="${userInfo}" th:action="@{/getuserdetails}"
			method="post">

			<h2>Enter your details here to start creating a Personal Cloud for assigned cloudNumber</h2>
			
			<h3 th:text="${cloudNumber}">System Error</h3>


            <fieldset id="user-details">
                    
                <label for="name" th:text="#{theader.name}">Name: </label>   
                <input type="text" name="name" value="" id="name" placeholder="Bob Loblaw" required="required" autofocus="autofocus" th:value="*{name}" /> 
                
                <label for="nickName" th:text="nickName">NickName: </label>   
                <input type="text" name="nickName" value="" id="nickName" placeholder="BL" required="required" th:value="*{nickName}" /> 
              
              
                <h4>Phone number and email must be unique within the Network and you must be able to verify ownership.</h4>
                
                <label for="email" th:text="#{theader.email}">Email: </label>   
                <input type="email" name="email" value="" id="email" placeholder="bob@bll.com" required="required" th:value="*{email}" /> 
                
                <label for="phone" th:text="#{theader.phone}">Phone: </label> 
                <input type="text" name="phone" value="" id="phone" placeholder="123 444 5678" required="required"  th:value="*{phone}" /> 
                        

            </fieldset>
            
            <fieldset id="address-details">
                    
                <label for="street" th:text="#{theader.street}"> Street: </label>   
                <input type="text" name="street" value="" id="street" placeholder="123 Main St" required="required" th:value="*{street}" /> 
                
                <label for="city" th:text="city"> City</label>   
                <input type="text" name="city" value="" id="city" placeholder="Denver" required="required" th:value="*{city}" /> 
               
                <label for="state" th:text="#{theader.state}"> State: </label>   
                <input type="text" name="state" value="" id="state" placeholder="CO" required="required" th:value="*{state}" />
            
                <label for="postalcode" th:text="#{theader.postalcode}">Address2: </label>   
                <input type="text" name="postalcode" value="" id="postalcode" placeholder="67224" required="required"  th:value="*{postalcode}" />
            
                <br> </br>
                <br> </br>
                
                <input type="submit" value="Submit Details" name="submit"
                    class="submit" />
            </fieldset>
            
			
			<!-- end user-message -->
			<div id="errors" th:if="${#fields.hasErrors('*')}">
					<ul>
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
					</ul>
			</div>
			
			
		</form>

		<footer>
			
		</footer>
	</div>
	<!--! end of #container -->

	
	<script>
		/*<![CDATA[*/
		      //Embbeded Javascript    
		/*]]>*/
	</script>

</body>
</html>
