<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/page">

<head>
    <link href="css/intlTelInput.css" rel="stylesheet" />
</head>

<body class="userdetails">

<!--/* No nav dropdown for this page */-->
<div layout:fragment="nav"></div>

<div class="container" layout:fragment="bodyContent">

    <div class="page-header">
        <h1>Email and phone verification is required to secure <br/>
            your cloud name in the Respect Network.</h1>
    </div>

    <span style="color:red" class="error" th:text="${error}"></span>

    <form action="#" class="form-primary" th:object="${userInfo}" th:action="@{/processuserdetails}" method="post">

        <!--/* Email address */-->
        <div class="form-group">
            <input type="email" id="email" name="email"
                   class="form-control" placeholder="email address"
                   required="required" autofocus="autofocus"
                   th:value="*{email}" />
        </div>

        <!--/* Mobile number */-->
        <div class="form-group">
            <input type="tel" id="mobilePhone" name="mobilePhone"
                   class="form-control" placeholder="mobile phone"
                   required="required"
                   th:value="*{mobilePhone}"/>
        </div>









        <!--<div class="form-group">-->
            <!--<span class="input-group-addon">-->
                <!--<input type="text" class="form-control" id="cc" name="cc" placeholder=" " required="required" />-->
            <!--</span>-->
            <!--<input type="text" class="form-control" id="mobilePhone" name="mobilePhone" placeholder="mobile: nnnnnnnnnn"-->
                   <!--required="required" onFocus="clearText(this)"-->
                   <!--onBlur="clearText(this.className = 'onblurtextPhone smallTop')"-->
                   <!--th:value="*{mobilePhone}"/>-->
        <!--</div>-->


        <!--<p><input type="text" class="ccField ccTop" name="cc" id="cc" placeholder=" " required="required"-->
                  <!--th:value="*{cc}"/>-->
            <!--<input type="text" class="phoneField" name="mobilePhone" id="mobilePhone"-->
                   <!--placeholder="mobile: nnnnnnnnnn" required="required"-->
                   <!--onFocus="clearText(this)" onBlur="clearText(this.className = 'onblurtextPhone smallTop')"-->
                   <!--th:value="*{mobilePhone}"/>-->
        <!--</p>-->

        <p class="secondary">Create a password for logging into your personal cloud:<br/>min 8 char with 2 digits, 2
            letters and 1 symbol e.g. @,#,$
        </p>

        <p class="secondary"><input type="password" class="inputFields smallMarg" name="password" value=""
                                    id="password" placeholder="create password" required="required"
                                    onFocus="clearText(this)"
                                    onBlur="clearText(this.className = 'onblurtext smallMarg')"/>
            <br/><input type="password" class="inputFields smallMarg" name="confirmPassword" value=""
                        id="confirmPassword" placeholder="confirm password" required="required"
                        onFocus="clearText(this)" onBlur="clearText(this.className = 'onblurtext smallMarg')"/>
        </p>

        <div id="responseDiv" class="error" style="color:red"></div>


        <button type="submit" name="submit" id="submit" class="button btn btn-lg btn-primary signup-submit">Next</button>

    </form>
</div>

<th:block layout:fragment="postFooterContent">
    <script src="js/libs/intlTelInput.min.js"></script>
    <script src="js/libs/data.js"></script>

    <script>
        $("#mobilePhone").intlTelInput();
    </script>
</th:block>

</body>
</html>
