<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

<title></title>
<meta name="description" content="HTML 5 CSS 3 Spring Form"/>

<meta name="viewport" content="width=device-width,initial-scale=1"/>

<link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}"/>
<script src="../../js/libs/modernizr-2.0.6.min.js" th:src="@{/js/libs/modernizr-2.0.6.min.js}"></script>
</head>

<body>
	<div id="container">
		<header> </header>

		<form action="#" th:object="${codeInfo}" th:action="@{/validatecodes}"
			method="post">


			<fieldset id="code-description">			
			     <h2>To proceed with registration check your email and mobile phone for a message from the CSP and enter both verification codes here.</h2>
			</fieldset>
			
		    <fieldset id="code-details">            
		    	
				<label for="emailCode" th:text="#{theader.emailCode}">Email Code: </label>	
				<input type="text" name="emailCode" value="" id="emailCode" placeholder="" required="required" autofocus="autofocus" th:value="*{emailCode}" /> 
				
				<label for="SMSCode" th:text="#{theader.smsCode}" > SMS Code: </label> 
				<input type="text" name="SMSCode" value="" id="SMSCode" placeholder="" required="required"  th:value="*{SMSCode}" /> 
								
				<input type="submit" value="Submit Codes" name="submit"
					class="submit" />
					
	       </fieldset>
					
	
			
			
			<!-- end code-message -->
			<div id="errors" th:if="${#fields.hasErrors('*')}">
					<ul>
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
					</ul>
			</div>
			
			<div>
			    <p><span th:text="${error}">System Error</span></p>
			</div>
		</form>

		<footer>
			
		</footer>
	</div>
	<!--! end of #container -->

	
	<script>
		/*<![CDATA[*/
		      //Embbeded Javascript    
		/*]]>*/
	</script>

</body>
</html>
