<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/page">

<body class="validate">

<!--/* No nav dropdown for this page */-->
<div layout:fragment="nav"></div>

<div class="container" layout:fragment="bodyContent">

    <div class="page-header">
        <h1>Verification codes have been sent to your email and phone<br/>
        <small>Enter those codes in the fields below<br/>
        Codes are not case sensitive</small></h1>
    </div>

    <div class="middle2"><span style="color:red" class="error" th:text="${error}"></span><br/>


        <form action="#" th:action="@{/validatecodes}" method="post"
              class="form-primary" th:object="${validateInfo}" id="validateCodesForm">

            <!--/* Email code */-->
            <div class="form-group">
                <input type="text" id="emailCode" name="emailCode"
                       class="form-control" placeholder="email code"
                       required="required" autofocus="autofocus"/>
                <p class="help-block" th:text="|Sent to ${verifyingEmail}|">
                    Sent to abc@example.com
                </p>
            </div>

            <!--/* Text code */-->
            <div class="form-group">
                <input type="text" id="smsCode" name="smsCode"
                       class="form-control" placeholder="text code"
                       required="required"/>
                <p class="help-block" th:text="|Sent to ${verifyingPhone}|">
                    Sent to +123546789
                </p>
            </div>

            <!--/* I agree checkbox */-->
            <div class="form-group">
                <label class="secondary">
                    <input type="checkbox" id="terms" name="terms" />
                    I agree to the
                    <a target="_blank" onclick="return windowpop(this.href, 545, 433);"
                       href="http://openidentityexchange.org/trust-frameworks/respect-trust-framework">
                        Respect Trust Framework
                    </a>
                    and the one-person one-account rule.
                </label>
            </div>

            <!--/* Buttons */-->
            <div class="form-group">
                <button type="submit" name="submit" id="submit"
                    class="btn btn-lg btn-primary">Verify</button>
            </div>

            <div class="form-group">
                <button type="submit" name="resendCodes" id="resendCodes"
                        class="btn btn-lg btn-info">Send new codes</button>
            </div>


            <input type="hidden" name="verifyingEmail" th:value="${verifyingEmail}" id="verifyingEmail"/>
            <input type="hidden" name="verifyingPhone" th:value="${verifyingPhone}" id="verifyingPhone"/>
        </form>
    </div>
</div>

<th:block layout:fragment="postFooterContent">
    <script>
        /*<![CDATA[*/
        $(document).ready(function () {
            $('#validateCodesForm').validate({
                rules: {
                    emailCode: {
                        required: true
                    },
                    smsCode: {
                        required: true
                    },
                    terms: {
                        required: true
                    }
                },
                messages: {
                    emailCode: {
                        required: 'Please enter the email code'
                    },
                    smsCode: {
                        required: 'Please enter the sms code'
                    },
                    terms: {
                        required: 'Please agree to the terms and conditions'
                    }
                },
                errorClass: 'form-control-feedback',
                validClass: 'form-control-feedback',

                errorPlacement: function(label, element) {
                    var group = element.closest('[class^="form-group"]');
                    var secondary = group.find('[class^="secondary"]'); // if wrapped in secondary (e.g. check boxes)
                    var insertAfterElement = element;
                    if (secondary.length > 0) {
                        insertAfterElement = secondary;
                    }
                    label.insertAfter(insertAfterElement);
                },
                success: function(label) {
                    label.closest('[class^="form-group"]').addClass('has-feedback');
                    label.addClass('glyphicon glyphicon-ok');
                },
                highlight: function(element, errorClass, validClass) {
                    $(element).closest('[class^="form-group"]').addClass('has-error').removeClass('has-success has-feedback');
                    $(element.form).find("label[for=" + element.id + "]").removeClass('glyphicon glyphicon-ok');
                },
                unhighlight: function(element, errorClass, validClass) {
                    $(element).closest('[class^="form-group"]').removeClass('has-error').addClass('has-success');
                }
            });
        });
        /*]]>*/
    </script>
</th:block>

</body>
</html>
