<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

<title></title>
<meta name="description" content="Invite "/>

<meta name="viewport" content="width=device-width,initial-scale=1"/>

<link rel="stylesheet" href="../../css/csp.css" th:href="@{/css/csp.css}"/>
<script src="../../js/libs/modernizr-2.0.6.min.js" th:src="@{/js/libs/modernizr-2.0.6.min.js}"></script>

</head>

<body>
    <div id="fullpage">
        <div id="header">Respect Network</div>
        <div id="content">
            <form action="#" th:object="${validateInfo}" th:action="@{/validatecodes}" method="post">
                <table id="signUpTable">
                    <tr>
                        <td>
                            <p id="subHeaderText">Verification codes have been sent to your email and phone. Enter those codes in the fields below.</p>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" name="emailCode" value=""
                            id="emailCode" placeholder="email code" required="required"
                            autofocus="autofocus" th:value="*{emailCode}" /></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="smsCode" value="" id="smsCode"
                                placeholder="sms code" required="required" autofocus="autofocus"
                                th:value="*{smsCode}" />
                                <p id="error" th:text="${codeValidationError}">Validation Error</p>                            
                            </td>
                    </tr>                    
                    <tr>
                        <td>
                            <input type="submit" value="Verify" name="submit" class="submit" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="footer">Acme Cloud Company Inc.</div>
    </div>
</body>
</html>
